extends ../layouts/default

block content
	.whiteBackground#contact
		h3 Contact me
		.row
			if enquirySubmitted
				.col-xs-12.col-sm-6
					h3 Thanks for getting in touch.
			else
				.col-xs-12.col-sm-6
					form(method='post')
						input(type='hidden', name='action', value='contact')
						.form-group(class=validationErrors.name ? 'has-error' : null)
							label Name
							input(type='text', name='name.full', value=formData['name.full'])
						.form-group(class=validationErrors.email ? 'has-error' : null)
							label Email
							input(type='email', name='email', value=formData.email)
						.form-group(class=validationErrors.message ? 'has-error' : null)
							label Message
							textarea(name='message', placeholder='Leave me a message...' rows=7)= formData.message
						.form-actions
							button(type='submit').button_style Send
			.col-xs-12.col-sm-6
				img(src="/images/piano_counterpoint.jpeg").img-responsive.change_scale

block js
	script containerDimensions(3, 9, 97, 85, "contact");
	script createMail();
